@font-face {
    font-family: "WeblySleek UI";
    src: local("WeblySleek UI Light"), local("WeblySleekUI-Light"), url(WeblySleekUI-Light.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "WeblySleek UI";
    src: local("WeblySleek UI Light Italic"), local("WeblySleekUI-LightItalic"), url(WeblySleekUI-LightItalic.woff2) format("woff2");
    font-weight: 200;
    font-style: italic;
}
/*
@font-face {
    font-family: "WeblySleek UI";
    src: local("WeblySleek UI Semilight"), local("WeblySleekUI-Semilight"), url(WeblySleekUI-Semilight.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "WeblySleek UI";
    src: local("WeblySleek UI Semilight Italic"), local("WeblySleekUI-SemilightItalic"), url(WeblySleekUI-SemilightItalic.woff2) format("woff2");
    font-weight: 300;
    font-style: italic;
}
*/
@font-face {
    font-family: "WeblySleek UI";
    src: local("WeblySleek UI Normal"), local("WeblySleekUI-Normal"), url(WeblySleekUI-Normal.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "WeblySleek UI";
    src: local("WeblySleek UI Italic"), local("WeblySleekUI-Italic"), url(WeblySleekUI-Italic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "WeblySleek UI";
    src: local("WeblySleek UI Semibold"), local("WeblySleekUI-Semibold"), url(WeblySleekUI-Semibold.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "WeblySleek UI";
    src: local("WeblySleek UI Semibold Italic"), local("WeblySleekUI-SemiboldItalic"), url(WeblySleekUI-SemiboldItalic.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "WeblySleek UI";
    src: local("WeblySleek UI Semibold"), local("WeblySleekUI-Semibold"), url(WeblySleekUI-Semibold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "WeblySleek UI";
    src: local("WeblySleek UI Semibold Italic"), local("WeblySleekUI-SemiboldItalic"), url(WeblySleekUI-SemiboldItalic.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
}
